  <aside class="bg-green">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Contactanos!</h2>
              <p>Estás listo para comenzar tu proximo proyecto con nosotros? Llamanos, envianos un e-mail y nos pondremos en contacto con vos de inmediato!</p>

              <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
          </div>
      </div>
  </aside>
