<section class="bg-primary" id="empresa">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Empresa</h2>
                <hr class="light">
                <p class="text-faded">En inédita tormenta, zarpamos de un puerto seguro y nos dispusimos a navegar. 
                    Conocemos bien las coordenadas, contamos con experiencia y habilidades profesionales para desarrollar 
                    buenos negocios. La vida es movimiento y te acompañamos a poner rumbo a tu inversión.

                </p>
                <a href="#servicios" class="btn btn-default btn-xl page-scroll">Nuestros servicios</a>
            </div>
        </div>
    </div>
</section>