<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Con vista a muy buenos negocios</h2>
                <hr class="light">
                <p class="text-faded">Suspendisse maximus, leo sit amet commodo posuere, risus mauris dignissim lectus, pellentesque pulvinar sem lectus in turpis. Duis non ultrices ipsum. In nunc massa, tempus eu viverra nec, mollis quis ante. </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Nuestros servicios</a>
            </div>
        </div>
    </div>
</section>