<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">La mejor orientación es hacia vos.</h2>
                <hr class="light">
                <p class="text-faded">Suspendisse maximus, leo sit amet commodo posuere, risus mauris dignissim lectus,
                    pellentesque pulvinar sem lectus in turpis. Duis non ultrices ipsum. In nunc massa, tempus eu
                    viverra nec, mollis quis ante.
                    Suspendisse ornare, elit et scelerisque interdum, arcu dolor auctor nisl, quis finibus mi ligula id
                    neque. Integer finibus imperdiet tincidunt. Suspendisse convallis odio metus, id molestie ligula
                    cursus non. Cras nec turpis ac turpis semper posuere vel a ex. Praesent non auctor urna, non
                    convallis lorem. Mauris tristique, orci a commodo eleifend, nunc turpis iaculis augue, eget
                    consequat nunc elit vel erat. Duis vitae metus nec erat pellentesque pharetra. Nulla malesuada
                    turpis vitae sapien feugiat, vitae feugiat ligula sagittis. Vivamus feugiat ex ac turpis euismod
                    molestie. Donec interdum posuere augue id eleifend. Suspendisse molestie enim lectus, nec convallis
                    ligula gravida in. Nunc ut malesuada quam, eu luctus mauris.
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Nuestros servicios</a>
            </div>
        </div>
    </div>
</section>