<section id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1 col-sm-12">
                <small>©{{ "now" | date: "%Y" }} {{ site.sitename }} - Todos los derechos reservados.</small>
            </div>
            <div class="col-md-8 col-md-offset-1 col-sm-12">
                <small>{{ site.matricula }}</small>
            </div>
            <!--<div class="col-md-2  col-sm-12 ">
                <small>Terminos de uso</small>
            </div>
            <div class="col-md-2  col-sm-12 ">
                <small>Politica de privacidad</small>
            </div>-->
            <div class="col-md-11 col-md-offset-1 col-sm-12 ">
                <small><a href="#page-top" class="page-scroll"><i class="fa fa-angle-double-up wow bounceIn" data-wow-delay=".1s"></i>Subir</a></small>
            </div>
        </div>
    </div>
</section>