
    <section id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 text-left">
                <small>©2020 pixel</small>
                </div>
                <div class="col-lg-2  text-right">
                    <small>Terminos de uso</small>
                    </div>
                    <div class="col-lg-2  text-right">
                        <small>Politica de privacidad</small>
                        </div>
        </div>
    </div>
    </section> 