<header>
    <div class="header-bg">
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                <svg preserveAspectRatio="none" viewBox="0 0 614.000000 289.000000" alt="Nixel - Negocios Inmobiliarios" title="Nixel - Negocios Inmobiliarios">
                    <use href="#logo-svg">
                    </use>
                </svg>
            </h1>
            <h3>Ponemos rumbo a tu inversión
            </h3>
            <hr>
            <a href="#empresa" class="btn btn-primary btn-xl page-scroll">Conocenos</a>
        </div>
    </div>

</header>